div#loading {
    width: 250px;
    height: 250px;
    display: none;
    background: url(/static/images/Taunt-pudge.gif) no-repeat;
    cursor: wait;
    }

div#loading-text {
    display: none;
    cursor: wait;
    }
